body{
    display: grid;
    grid-template-rows: 100px 300px 1fr auto auto 1fr auto ;
    grid-template-columns: 125px 1fr 1fr 1fr;
    grid-template-areas:
        " nav head head head" 
        " nav s1 s1 s1 "
        " nav s2 s2 s2 "
        " nav s3 s3 s3 "
        " nav s4 s4 s4 "
        " nav s5 s5 s5 "
        " nav ft ft ft "
    ;
    margin: 0;
    padding: 0;


    background-image: url(Background.png);
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#head{
    grid-area: head;
    background-color: aquamarine;
}

#nav{
    grid-area: nav;
    background-color: #eee;
    z-index: 4;
}

#s1{
    grid-area: s1;
    
}

#s2{
    grid-area: s2;
}

#s3{
    grid-area: s3;
}

#s4{
    grid-area: s4;
}

#s5{
    grid-area: s5;
}

#footer{
    grid-area: ft;
    background-color:#ddd;
}


.section{
    padding: 10px 5%;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}


/*header styles*/
#head{
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px 0 #000000bb;
    height: 100px;
    width: 100%;
    z-index: 3;
    display: flex;
   align-items: center;
   justify-content: space-between;
   
}



.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    height: 100%;
}


.search-wrapper{
    border-width: 0px 0px 0px 70px;
    border-style: solid;
    border-image: linear-gradient( to left, #eee, rgba(0, 0, 0, 0) ) 1 100%;
}

.search{
   height: 100px; 
   width: 270px;
   display: flex;
   align-items: center;
   justify-content: center;

   background-color:#eee ;
   
}



.search > .search-bar > input{
    width: 180px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
    height:30px;
    margin:0 15px;
}


/*nav styles*/


.logo{
    width:calc(100% - 20px);
    padding:10px;
    height:80px;
}






#nav{
    position:fixed;
    width:125px;
    height:100vh;
    border-right: 1px solid black;
    box-shadow: 0 0 10px 0 #000000bb;
}


#nav > hr{
    margin: 0px 5px;
    border-top: 1px solid white;
    
}

#nav > .nav-link-wrapper{
    padding: 15px;
    display: block;
    position: absolute;
}

.nav-link-wrapper > .link-nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
    transition: .15s;
    text-align: center;
}

.nav-link-wrapper i{
    font-size: 3em;
    margin-bottom:5px;
}


.nav-link-wrapper img{
    width: 80px;
    height: 80px;
    
}

.nav-link-wrapper p{
    margin-top: 3px;
    font-size: 1.2em;
}

.nav-link-wrapper > .link-nav:hover{
    color:#777777
}


.main-menu{
    transition:.5s ;
}

.drop-menu{
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   width: 95px;
   background-color: #e7e7e7;
   z-index: 5;
   padding-bottom: 500px !important;
   -webkit-font-smoothing: antialiased;
}


#nav input{
    display: block;
    width: 95px;
    height: 95px;
    position: absolute;
    margin-left: 15px;
    margin-top: 135px;
    z-index: 6;
    opacity: 0;
}

#nav input:hover ~ .nav-link-wrapper .dropdown{
    color: #777777;
}

#nav input:checked ~ .drop-menu{
    transform: none;
}

#nav input:checked ~ .main-menu{
    opacity:  0;
}

#nav input:checked{
    position: fixed;
    margin:0;
    width:calc(100vw - 125px);
    height: 100vh;
    margin-left: 125px;
    margin-top: -101px;
}

/*footer styles*/

#footer{
    border-top: 1px solid black;
    box-shadow: 0 0 10px 0 #000000bb;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

#footer > div{
    width:350px;
    text-align: center;
}

#footer div h6{
    font-size: 1.3em;
    margin: 30px 5px;
}

#footer div h6 i{
    font-size: 1.5em;
}






/*card styles*/

.card-and-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-and-text > .side-text{
    width: 500px;
}

.card-and-text > .side-img{
    width:400px;
    height: 450px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 0 #000000bb;;
    filter: opacity(0.9) brightness(1);
    scale: 0.95;
    transition: 0.75s ease;
    transition-delay: 0.1s;

}

.card-and-text > .side-img:hover{
    filter: opacity(1) brightness(1.1);
    scale: 1.05;
}

.card-and-text > .side-text > h2{
    margin-left: 15px;
}

@media (min-width: 1500px) {
    .card-and-text{
        width: 1150px;
    }
}

@media (max-width: 1500px) {
    .card-and-text > .side-text{
        width: 60%;
    }

    .card-and-text > .side-img {
        width: 30%;
        height: 350px;
    }
}








/*card img and text styes*/

#s3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.img-text-sourounding{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-and-text-box{
    width: 85%;
    height: 85%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 0 #000000bb;
    font-size: 1rem;
    
    transition: .5s ease;
    transition-delay: 0.05s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.img-and-text-box > .img-top{
    width: 100%;
    height: 70%;
    
}

.img-and-text-box > .img-top > img{
    border-radius: 10px 10px 0 0;
    filter: opacity(0.9) brightness(0.8);
}

.img-and-text-box > .text-bottom{
    width: 100%;
    height: 30%;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
}

.img-and-text-box > .text-bottom > p{
    padding: 10px;
    text-align: center;
    margin: 10px;

}


.img-and-text-box:hover {
    font-size: 1.1rem;
    width: 93.5%;
    height: 93.5%;
    filter: opacity(1) brightness(1.2);
}



.img-main{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-box{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-link{ 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }  