body{
    display: grid;
    grid-template-rows: 75px 1fr 1fr 1fr 1fr 1fr 300px ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        " nav nav nav" 
        " s1 s1 s1 "
        " s2 s2 s2 "
        " s3 s3 s3 "
        " s4 s4 s4 "
        " s5 s5 s5 "
        "ft ft ft "
    ;
    margin: 0;
    padding: 0;


    background-image: url();
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#nav{
    grid-area: nav;
}



.s1{
    grid-area: s1;
    background-color: transparent;
}

.s2{
    grid-area: s2;
}

.s3{
    grid-area: s3;
}

.s4{
    grid-area: s4;
}

.s5{
    grid-area: s5;
}

#footer{
    grid-area: ft;
    background-color:#ddd;
}